/* Typeface. Uncomment the one you want to use. */
/* sans? */
body {
	font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* serif? */
/* body {
	font: 14px/21px Georgia, "Times New Roman", serif;
} */

/* commands */
.remove-bottom {
	margin-bottom: 0 !important;
}
.half-bottom {
	margin-bottom: 10px !important;
}
.add-bottom {
	margin-bottom: 20px !important;
}
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* areas */
.area {
	border: 1px solid #222;
	padding: 0.5em;
	margin-bottom: 1em;
}
.area.fpo {
	background: #666;
	color: #fff;
}
.area.cta {
	border-radius: 0.5em;
	font-weight: bold;
	font-size: 1.5em;
}
.area.fpo, .area.cta {
	text-align: center;
}

/* annotations */
sup.annotation {
	background: #999;
	color: #fff;
	font-weight: bold;
	margin: 0 0.5em;
	padding: 0.5em;
	border-radius: 0.25em;
	font-size: 10px;
}
sup.annotation a {
	color: #fff;
	text-decoration: none;
}
sup.annotation a:hover {
	color: #ccf;
}
.annotations {
	width: 64%;
	margin: 2em auto;
	padding: 1em;
	border: 1px solid #ccc;
}
.annotations ol {
	list-style: decimal;
}
.annotations ol h3 {
	font-size: 1em;
	font-weight: bold;
}
.annotations ol p {
	font-size: 1em;
}

/* forms */
@media only screen and (min-width: 767px) {
	form.align_right label {
		text-align: right;
	}
}
.req {
	color: #c00;
}